@import url(https://fonts.google.com/specimen/Inter);
@import url(https://fonts.google.com/specimen/Lexend+Deca);

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(233, 47%, 7%);
    width: 100%;
    height: 97vh;
    font-size: 15px;
    background-repeat: no-repeat;
}
h1{
    color: white;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
}
.container{
    background-color: hsl(244, 38%, 16%);
    color: hsl(0, 0, 100%);
    width: 900px;
    height: 400px;
    margin: 10% auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    display: flex;
}
.text{
    width: 500px;
    margin: 50px;
}
.text h1{
    font-family: Inter sans-serif;
}
.text p{
    font-family: Lexend Deca sans-serif;
    padding: 20px 0;
    letter-spacing: 1px;
}
.text .second-text {
    padding: 20px 0;
    display: flex;
    gap: 65px;
    padding-top: 70px;
}
.text .second-text h1{
    font-size: 23px;
}
.text .second-text h1 span{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: lighter;
    padding-top: 2px;
}
.image{
    background: hsl(277, 64%, 61%);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.image img{
    position: relative;
    width: 450px;
    height: 100%;
    opacity: 0.6;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.container .first{
    color: hsl(277, 64%, 61%);
}
.container .second{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}
.container .second-text h1{
    display: grid;
}
.attribution {
    font-size: 15px;
    text-align: center;
    margin-top: 40px;
}
.attribution a{
    color: hsla(0, 0%, 100%, 0.75);
}

@media (max-width: 375px) {
    .container{
        width: 95vw;
        height: 100%;
        margin-top: 20px;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .image{
        position: absolute;
        width: 96%;
        height: 240px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
    }
    .image img{
        display: none;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        /* overflow: hidden; */
    }
    .image::before{
        content: url(./images/image-header-mobile.jpg);
        /* width: 375px !important; */
        opacity: 0.6;
        /* overflow: hidden; */
        background-size: cover;
    }
    
    .text{
        width: 100%;
        /* order: 2; */
        padding: 20px;
        margin-top: 40%;
    }
    .text h1{
        text-align: center;
        font-size: 25px;
        margin-bottom: 15px;
    }
    .text p{
        text-align: center;
        padding: 0 10px;
        margin-bottom: 40px;
    }
    .second-text{
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }
}